<!-- new session -->
<div><br><br>
<h1 class="display-1 text-center">Hello, Rails!</h1>	
<div><br>
<h3 class="text-center">This is my Ruby blog</h3>	
<div><br><br>
 	<%= link_to "Sign in with Google", '/auth/google_oauth2' %>
 </div><br>
</div>
</div>
 

