<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<h1 class="container">Log in to TC Blog</h1><br>
	<div>
		<%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
	</div><br>
	<div>
		<%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
	</div><br>
</body>
</html>